<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
	.exo {
		border-top:1px solid black;
		border-right:1px solid black;
		border-bottom:1px solid black;
		border-radius: 2px;
	}
	</style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
	<title>Edit</title> 
	
</head>
<body>
<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">New Project</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<form method="POST">
					<div class="modal-body">
						Project Name: <input type="text" class="form-control" name="name" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
			<li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">New Project</a></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
			</ul>
		</form>
	</div>
</nav>
<br />
<div class="container">
<h3>{{project[1]}}</h3>
<nav class="nav nav-justified">
  <a class="nav-link" href="#">Save</a>
  <a class="nav-link" href="#" onclick="runit()" >Run</a>
  <a class="nav-link" href="#" onclick="editor.undo()" >Undo</a>
  <a class="nav-link" href="#" onclick="editor.redo()" >Redo</a>
  <a class="nav-link ml-auto" href="/view?id={{project[0]}}">View</a>
  <a class="nav-link ml-auto" href="/delete?id={{project[0]}}">Delete</a>
</nav>
<div class="row" style="border-style: solid;border-width:1px;border-color: black;border-radius:2px;" >
<div class="col-12" id="editor">{{project[2]}}</div>
</div>
    <br /> 
<div class="row">
<label class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">Output:</label>
<label class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">Visual Output:</label>
</div>
<div class="row h-50">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="border-style: solid;border-width:1px;border-color: black;border-radius:2px;"><pre id="output"></pre></div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 exo" id="mycanvas"><br /></div> 
</div>
</div>
	
	<!-- Javascript Shit -->
	<script src="static/js/jquery-3.3.1.min.js"></script>
    <!--<script src="static/js/popper.min.js"></script>-->
    <script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/skulpt.min.js"></script>
	<script src="static/js/skulpt-stdlib.js"></script>
	<script type="text/javascript"> 
	// output functions are configurable.  This one just appends some text
	// to a pre element.
	function outf(text) { 
		var mypre = document.getElementById("output"); 
		mypre.innerHTML = mypre.innerHTML + text; 
	} 
	function builtinRead(x) {
		if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
				throw "File not found: '" + x + "'";
		return Sk.builtinFiles["files"][x];
	}
	// Here's everything you need to run a python program in skulpt
	// grab the code from your textarea
	// get a reference to your pre element for output
	// configure the output function
	// call Sk.importMainWithBody()
	function runit() { 
	   //console.log(editor.getValue());
	   var prog = editor.getValue(); 
	   var mypre = document.getElementById("output"); 
	   mypre.innerHTML = ''; 
	   Sk.pre = "output";
	   Sk.configure({output:outf, read:builtinRead}); 
	   (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
	   var myPromise = Sk.misceval.asyncToPromise(function() {
		   return Sk.importMainWithBody("<stdin>", false, prog, true);
	   });
	   myPromise.then(function(mod) {
		   console.log('success');
	   },
		   function(err) {
		   console.log(err.toString());
	   });
	} 
	</script> 
		<script src="static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("editor", {
			theme: "ace/theme/sqlserver",
			mode: "ace/mode/python",
			autoScrollEditorIntoView: true,
			maxLines: 30
		});
		editor.setShowPrintMargin(false);
	</script>
<br />
<br />
<br />
<br />
</body> 

</html>